<form action="/Home" method="GET">

    <label>Search by Name</label>
    <input type="text" name="name" value="<%= search.name%>">
    
    <label>Search by Size</label>
    <input type="text" name="size" value="<%= search.size%>" >

    

    <button type="submit">Search</button>

  </form>
