

    <input type="text" name="name" value="<%= search.name%>"placeholder="Search by Name">
    
    
    <input type="text" name="size" value="<%= search.size%>" placeholder="Search by Size">
    <button type="submit">Search</button>
    <br>

    <select name = "dropDown">
        <option value = "priceLowHigh">Sort by Price: Low to High</option>
        <option value = "priceHighLow">Sort by Price: High to Low</option>
        <option value = "sizeLtoS">Sort by Size: Largest to Smallest</option>
        <option value = "sizeStoL">Sort by Size: Smallest to Largest</option>
     </select>
     <button type="submit">Sort</button>


    