<head>
    <h1>Edit Sneaker: <%=sneaker.brand%></h1>
    </head>
    <form action="/home/<%=sneaker._id%>/?_method=put" method="post">
        <%- include('../partials/form_fields.ejs') %>
      

        <br>
        <button type="submit">Submit</button>
        <a href="/Home">Cancel</a>
        
    </form>