<!DOCTYPE html>
<html>
<head>
  <title>Sneakers App</title>
</head>
<body>
  <ul>
    <!-- <li><a href='/fruits'>Fruits</a></li>
    <li><a href='/animals'> Animals</a></li>
    <li><a href='/foods'>Favorite Foods</a></li> -->
  </ul>
  <%- include('../partials/header.ejs') %>
  <%- body %>
  <%- include('../partials/footer.ejs') %>
</body>
</html>