<header>
    <h1>Edit Sneaker: <%=sneaker.brand%></h1>
</header>
    
<body>
    <form action="/home/<%=sneaker._id%>/?_method=put" method="POST">
        <%- include('../../partials/creat_forms.ejs') %>
        
        
        <br>

        <button type="submit">Submit</button>
        <a href="/Home">Cancel</a>
        
    </form>
</body>