<header>
    <h1>New Sneaker</h1>
</header>
    
<body>
    <form action="/home" method="POST">
        
        <%- include('../../partials/creat_forms.ejs') %>
        <br>
        <button type="submit">Submit</button>
        <a href="/Home">Cancel</a>
    </form>
</body>