<head>
    <h1>New Sneaker</h1>
    </head>
    <form action="/home" method="post">
        
        <%- include('../../partials/creat_forms.ejs') %>
        <br>
        <button type="submit">Submit</button>
        <a href="/Home">Cancel</a>
    </form>