body{
        margin-left: 7vw;
        padding: 0px 10px;     
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    grid-gap: 16px;

}

.sneakerDisplayBox{
    border: 1px black solid;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.singleDisplayBox{
    display: flex;
    padding: 20px;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.edit-button {
    width: 2.1vw;
    height: 2.1vh;
    margin: 2px 2px 2px 0px; 
    text-align: center;
    background-color:  rgb(237, 237, 237);
    color: black;
    padding: 1px 6px;
    border: .5px rgb(151, 150, 150);
    border-radius: 2px;
    border-style: outset;
    text-decoration: none;
    font-size: 15px;

}

.side-bar {
    height: 100%;
    width: 7vw; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 25px;
    
  }

  .side-bar a {
      
    display: block;
    margin: 6px;
    border:solid 1px lightgreen;
    padding: 10% 5% 5% 16%;
    text-decoration: none;
    font-size: 18px;
    color: lightgreen;
    
  }