<!DOCTYPE html>
<html>
    

    <head>
        <meta charset="utf-8">
        <title>GA-Project2</title>
    </head>
    <header>
        <h1>Sneakers App: Upcoming Sneaker Releases</h1>
        
    </header>

    <a href="/releases/jordan" >Jordan</a> <a href="/releases/nike" >Nike</a> <a href="/releases/adidas" >Adidas</a>
